/* 
Thuộc tính line-height: Thiết lập chiều cao của dòng chữ
Cú pháp: line-height: value + unit hoặc value

thuộc tính font-family: Thiết lập font chữ cho văn bản
cú pháp: font-family: font1, font2, font3...
*/
/* .content {
  font-size: 30px;
  line-height: 1.5;
} */
/* body {
  font-family: arial, tahoma, "Times New Roman";
} */
